@import './utils/varibles';
@import './base/reset';
@import './utils/hiden';
@import './base/commons';



@import './components/titles';
@import './components/logo';
@import './components/button';
@import './components/containers';
@import './components/card-set';
@import './components/social';




@import './layout/header';
@import './layout/hero';
@import './layout/preferences';
@import './layout/our-works';
@import './layout/team';
@import './layout/customers';
@import './layout/footer';
@import './layout/_modal';
@import './layout/portfolio/filters-btns';
@import './layout/portfolio/exampls';

