.customer {
   

            flex-basis: calc((100% - 30px) / 2);
   

        @media screen and (min-width: 768px) {
            flex-basis: calc((100% - 60px) / 3);
        }

        @media screen and (min-width: 1200px) {
            flex-basis: calc((100% - 150px) / 6);
        }

    
}



.customer__link {
    width: 100%;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    display: flex;
    align-items: center;

    justify-content: center;

    color: var(--icon-silver--);


    transition-property: color, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            color: var(--accent-color);
            border-color: var(--accent-color);
    
        }
}

.customer__icon {

    position: absolute;
    fill: currentColor;
}