header {
    background: #FFFFFF;
    border-bottom: 1px solid #ECECEC;
}

.container-header {
    height: 80px;
    display: flex;
    align-items: center;

}


/* site naw */

.site-nav {
    display: none;

    @media screen and (min-width: 768px) {
        align-items: center;
        @include font (500, 14px, 1.14);
        letter-spacing: 0.02em;
        display: flex;
    }
}

.site-nav .link {
    color: var(--section-title-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}


.nav-item:not(:last-child) {
    margin-right: 50px;
}


/* посилання у шапці  */



.site-link {
    display: none;
    @media screen and (min-width: 768px) {
        display: block;
        margin-left: auto;
        @include font (500, 12px, 1.16);
    }


    @media screen and (min-width: 1200px) {
        @include font (null, 14px, 1.14);
        display: flex;
        margin-left: auto;

    }
}


.connection-link {
    color: var(--primary-text-color);
    display: flex;
    align-items: center;

    transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus {
            color: var(--accent-color);
        }

    @media screen and (min-width: 768px) {

    }

        @media screen and (min-width: 1200px) {
        // margin-left: auto;
        padding-top: 32px;
        padding-bottom: 32px;
        }
}




.site-link__mail {
    @media screen and (min-width: 768px) {
         margin-bottom: 10px;
    }
   
        @media screen and (min-width: 1200px) {
            margin-bottom: 0;
        }
}


.connection-icon {
    margin-right: 10px;
    fill: currentColor;
}




.connection-item:not(:last-child) {
    @media screen and (min-width: 1200px) {
            margin-right: 50px;

    }
}





/* спільне для усіх посилань шапки */
// .site-link,


// ----------CURENTS-----------
 .mob-link {
     color: var(--section-title-color);

 }

.site-nav .current {
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: -1px;
    color: var(--accent-color);
    display: flex;
    flex-direction: column;
}

.second-current {
    color: var(--accent-color);
            @media screen and (min-width: 768px) {
                width: 78px;
    margin-top: 32px;

    &::after {
        content: '';
        height: 4px;
        display: block;
        border-radius: 2px;
        background-color: var(--accent-color);
        margin-top: 28px;
            }
    

    }
}

.first-current {
    color: var(--accent-color);
            @media screen and (min-width: 768px) {
               width: 49px;
    margin-top: 32px;

    &::after {
        content: '';
        height: 4px;
        display: block;
        border-radius: 2px;
        background-color: var(--accent-color);
        margin-top: 28px; 
            }
    

    }
}

.menu-close {
        border: 0;
            background-color: unset;
        display: flex;
        position: absolute;
        top: 10px;
        right: 15px;
}
.menu-open {
    margin-left: auto;
    border: 0;
    background-color: unset;
    transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
        fill: var(--accent-color);
    }

        @media screen and (min-width: 768px) {
            display: none;
        }
}




.modal-menu {
    position: fixed;
    z-index: 1;
    background-color:#ffffff ;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    padding:48px 40px;
    overflow: auto;
    transform: translateX(100%);
    transition-property: transform;
        transition-duration: 250ms;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &.is-open {
        transform: translateX(0);
    }
@media screen and (min-width: 768px) {
        display: none;
    }


    .container {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;

}
}

.mob-nav {
    @include font (500, 40px, 1.17);
        letter-spacing: 0.02em;
}


.mob-nav-item:not(:last-child) {
    margin-bottom: 32px;
}

.mob-soc-list {
    display: flex;
    @media screen and (max-width:479px) {
        font-size: 10px;
    }
    .link {
        color: var(--accent-color);
    }
}

.mob-soc-list__item:not(:last-child) {
    margin-right: 10px;
padding-right: 10px;
   border-right: 1px solid rgba(33, 33, 33, 0.2);

}

.mob-site-link {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 64px;
    
}

.mob-connection-item:not(:first-child) {
    margin-bottom: 32px;
}

.mob-site-link__tel {
    @include font (500, 20px, 1.17);
    @media screen and (min-width: 480px) {
            @include font (500, 34px, 1.17);

    }

        letter-spacing: 0.02em;
        .link {
         color: var(--accent-color);

        }
}

.mob-site-link__mail {
    @include font (500, 20px, 1.16);
    @media screen and (min-width: 480px) {
         @include font (500, 24px, 1.16);
        
    }
   letter-spacing: 0.02em;
        .link {
              color: var(--primary-text-color);
        // color: #757575;
}
        }
      

.mob-connection-icon {
    display: none;
}
