.modal-title {
    @include font (700, 20px, 1.15);
        text-align: center;    
        color: var(--section-title-color);
        margin-bottom: 12px;
}


.modal-label{
    @include font (400, 12px, 1.16);
        margin-bottom: 4px;    
        letter-spacing: 0.01em;   
        color: #757575;
}


.modal-wrap {
    position: relative;
}


.input-icon {
    position: absolute;
    left: 9px;
    top: 50%;
    transform: translateY(-50%);
    transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        .modal-input:hover + &,
            .modal-input:focus + & {
                fill: var(--accent-color);
            }
}

.modal-input {
    padding-left: 42px;
    width: 100%;
    height: 40px;
        outline: none;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        transition-property: border-color, fill;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    border-color: var(--accent-color);
}       
}


.modal-field {
    margin-bottom: 10px;
}

.comment-field {
    margin-bottom: 20px;
}




.modal-comment {
    display: block;
    width: 100%;
    height: 120px;
   padding: 12px 16px;
    resize: none;
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        transition-property: border-color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
          border-color: var(--accent-color);
                }

        &::placeholder {
            @include font (null, 12px, 1.16);
            letter-spacing: 0.01em;
            color: rgba(117, 117, 117, 0.5);
        }
}

.modal-checkbox {
    margin-bottom: 30px;
}

.modal-check {
    border: 0;
    margin-bottom: 30px;
    display: flex;

}

.modal-check-text {
    color: var(--primary-text-color);
    @include font (null, 12px, 1.16);
        letter-spacing: 0.03em;
        display: flex;
 align-items: center;
    justify-content: center;
    cursor: pointer; 

     @media screen and (min-width: 1200px) {
         @include font (null, 14px, 1.71);
     }

    &::before {
            content: "";
            width: 16px;
            height: 15px;
            border: 2px solid var(--section-title-color);
            border-radius: 2px;
    
            margin-right: 7px;
            transition-property: border;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }

                .modal-check:hover + &::before,
                .modal-check:focus + &::before {
                    border: 2px solid var(--accent-color);
                }

                                .modal-check:checked + &::before {
                                    background-image: url(../images/icons&BG/Vector.svg);
                                    background-color: var(--accent-color);
                                    background-repeat: no-repeat;
                                   background-position: center;
                
                                    border: var(--accent-color);
                                }
}


.privacy-link {
    color: var(--accent-color);
}


.backdrop {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

.modal {
max-width: 450px;
  width: 100%;
    position: absolute;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    background-color: var(--white-color);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 3px 0px #0000001F;

    @media screen and (min-width: 1200px) {
          max-width: 528px;
    }
}

.close-button {
    width: 30px;
    height: 30px;
    display: flex;
    position: absolute;
    top: 8px;
    right: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--white-color);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            fill: var(--accent-color);
        }
}


