.works {
    display: none;
    @media screen and (min-width: 1200px) {
       display: block;
    }
}

.works-foto {
    position: relative;

    &:not(:last-child) {
            margin-right: 30px;
        }
}


.works-text {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-bottom: 27px;
    padding-top: 27px;
    @include font (700, 14px, 1.14);
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: rgba(47, 48, 58, 0.8);
}


.works-list {
    display: flex;

}


.works-title {
    width: 376;

}