.team {
    background: #F5F4FA;
}

.co-worker {
    // width: 270px;
    background-color: var(--white-color);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0px 1px 3px 0px #0000001F;
  
    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 30px) / 2);
        
      }

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 90px) / 4);

    }
}



.co-worker__info {
    padding: 30px;
}



.co-worker__title {
    @include font (500, 16px, 1.17);
    margin-bottom: 10px;
    text-align: center;
}


.co-worker__position {
    @include font (null, 16px, 1.17);
    margin-bottom: 16px;
    text-align: center;
}