.logo {



    font-family: 'Raleway', sans-serif;
        @include font (700, 24px, 1.16);

    color: var(--accent-color);
    text-decoration: none;

    @media screen and (min-width: 1200px) {
        @include font (700, 26px, 1.19);
    }
}

header .logo {
    margin-right: 93px;
}

.footer-logo {
    margin-bottom: 20px;
    display: block;
}

.logo-white {
    color: var(--white-color);
}

.logo-black {
    color: var(--section-title-color);
}